<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
<h1>User List</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getRole()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>