<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Welcome <span th:text="${user.userName}">userName</span>!</h1><hr>
<h2 title="Information">
    <span>Username: <span th:text="${user.userName}"></span></span>
    <br>
    <span>Role: <span th:text="${user.role}"></span></span>
</h2>
<form th:action="@{/u/home/redirectToLaundry}" th:method="post">
    <button type="submit">Laundry Booking</button>
</form>
<form th:action="@{/u/home/redirectToForum}" th:method="post">
    <button type="submit">Forum</button>
</form>
</body>
</html>